@use '../../index.sass' as v

.descriptionHeader
    height: auto
    display: flex
    justify-content: space-between
    margin-bottom: 24px

.leftDescriptionHeader
    display: flex
    flex-direction: column
    justify-content: space-between
    gap: 20px

.title
    color: v.$primary-color
    font-size: 36px
    font-weight: 500
    height: auto
    margin: 0

.location
    color: v.$tertiary-color
    font-size: 18px
    font-weight: 500
    height: 26px
    margin: 0

.tagsContainer
    width: max-content
    height: 25px
    display: flex
    justify-content: space-between
    gap: 10px
    margin: 0
    padding: 0

.tag
    color: v.$secondary-color
    background: v.$primary-color
    font-size: 14px
    font-weight: 700
    width: auto
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    border-radius: 10px
    margin: 0
    padding: 0 40px

.rightDescriptionHeader
    height: auto
    display: flex
    flex-direction: column
    justify-content: space-between

.profile
    height: 64px
    display: flex
    justify-content: space-between
    align-items: center
    gap: 10px

.name
    color: v.$primary-color
    font-size: 18px
    font-weight: 500
    width: 93px
    text-align: end
    overflow-wrap: break-word

.avatar
    background: rgba(196, 196, 196, 1)
    width: 64px
    height: 64px
    border-radius: 32px

.rating
    display: flex
    justify-content: space-between
    align-items: center

.star
    composes: fa-solid fa-star from global
    font-size: 24.75px
    width: 36px
    height: 36px
    display: flex
    justify-content: center
    align-items: center

.pinkStar
    color: v.$primary-color

.greyStar
    color: rgba(227, 227, 227, 1)

.descriptionFooter
    display: flex
    justify-content: space-between
    gap: 76px

.liste
    list-style: none
    margin: 0
    padding: 0

// BREAKPOINTS

@media (min-width: 375px) and (max-width: 768px)

    .description
        display: flex
        flex-direction: column

    .descriptionHeader
        height: auto
        flex-direction: column
        gap: 16px
        margin-bottom: 13px

    .leftDescriptionHeader
        gap: 10px

    .topDescriptionHeader
        gap: 5px

    .title
        font-size: 18px

    .location
        font-size: 14px
        height: 22px

    .tagsContainer
        max-width: 100%
        height: 18px

    .tag
        font-size: 10px
        padding: 0 22px
        white-space: nowrap
        overflow: hidden

    .rightDescriptionHeader
        flex-direction: row-reverse

    .profile
        height: 33px

    .name
        font-size: 12px

    .avatar
        width: 32px
        height: 32px

    .star
        font-size: 13.41px
        width: 18px
        height: 18px

    .descriptionFooter
        flex-direction: column
        gap: 20px

@media (min-width: 768px) and (max-width: 1024px)

    .description
        display: flex
        flex-direction: column

    .descriptionHeader
        height: auto
        margin-bottom: 19px

    .leftDescriptionHeader
        justify-content: unset
        gap: 15px

    .topDescriptionHeader
        gap: 2.5px

    .title
        font-size: 27px
        height: auto

    .location
        font-size: 16px
        height: 24px

    .tagsContainer
        height: 22px

    .tag
        font-size: 12px
        padding: 0 31px
        white-space: nowrap
        overflow: hidden

    .profile
        height: 49px

    .name
        font-size: 15px

    .avatar
        width: 48px
        height: 48px

    .star
        font-size: 19.08px
        width: 27px
        height: 27px

    .descriptionFooter
        flex-direction: column
        gap: 20px
