@use '../../index.sass' as v

.header
    max-width: 1240px
    height: 68px
    display: flex
    justify-content: space-between
    margin-bottom: 50px

.logo
    width: 210.32px

.menu
    width: 309px
    height: 34px
    display: flex
    justify-content: flex-end
    align-items: center
    gap: 57px
    list-style: none

.menuTitle
    font-size: 24px
    font-weight: 500

.menuTitle__link
    color: v.$tertiary-color
    text-decoration: none
    &:hover
        text-decoration: underline

// BREAKPOINT

@media (min-width: 375px) and (max-width: 767px)

    .header
        height: 46.88px
        margin-bottom: 27px

    .logo
        width: 145px

    .menu
        gap: 26px

    .menuTitle
        font-size: 12px
        text-transform: uppercase
