@use '../../index.sass' as v

.header
    max-width: 1240px
    height: 68px
    display: flex
    justify-content: space-between
    margin-bottom: 50px

.logo
    width: 210.32px

.menu
    width: 309px
    height: 34px
    display: flex
    align-items: center
    gap: 57px
    list-style: none

.menuTitle
    font-size: 24px
    font-weight: 500

.menuTitle__link
    color: v.$tertiary-color
    text-decoration: none
    &:hover
        text-decoration: underline
