@use '../../index.sass' as v

.error
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    gap: 139px
    margin-top: 139px
    margin-bottom: 139px

.errorCode
    color: v.$primary-color
    font-size: 288px
    font-weight: 700
    height: 263px
    margin: 0
    line-height: 1

.errorMessage
    color: v.$primary-color
    font-size: 36px
    font-weight: 500
    margin: 0

.errorReturnLink
    color: v.$tertiary-color
    font-size: 18px
    font-weight: 500
