@use '../../index.sass' as v

.error
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    gap: 139px
    margin-top: 139px
    margin-bottom: 139px

.errorCode
    color: v.$primary-color
    font-size: 288px
    font-weight: 700
    height: 263px
    margin: 0
    line-height: 1

.errorMessage
    color: v.$primary-color
    font-size: 36px
    font-weight: 500
    margin: 0

.errorReturnLink
    color: v.$tertiary-color
    font-size: 18px
    font-weight: 500

.mobileBreak
    display: none

// BREAKPOINT

@media (min-width: 375px) and (max-width: 767px)

    .error
        margin-top: 113px
        margin-bottom: 113px
        gap: 113px

    .errorCode
        font-size: 96px
        height: 99px

    .errorMessage
        font-size: 18px
        width: 260px
        height: 52px
        text-align: center

    .errorReturnLink
        font-size: 14px

    .mobileBreak
        display: inline
