@use '../../index.sass' as v

.footer
    background: v.$tertiary-color
    width: 100vw
    display: flex
    flex-direction: column
    gap: 28.56px
    align-items: center
    margin-top: 50px
    margin-left: calc( 50% - 50vw )
    padding-top: 66px
    padding-bottom: 29px

.logo
    width: 122px

.copyright
    color: v.$secondary-color
    font-size: 24px
    font-weight: 500
    height: 46px
    display: flex
    align-items: flex-end
    margin: 0

// BREAKPOINT

@media (min-width: 375px) and (max-width: 767px)

    .footer
        margin-top: 27px
        gap: unset
        padding-bottom: 58px

    .copyright
        font-size: 12px
        width: 133.59px
        text-align: center
