.descriptionFooter
    display: flex
    justify-content: space-between
    gap: 76px

.liste
    list-style: none
    margin: 0
    padding: 0

// BREAKPOINTS

@media (min-width: 375px) and (max-width: 768px)

    .descriptionFooter
        flex-direction: column
        gap: 20px

@media (min-width: 768px) and (max-width: 1024px)

    .descriptionFooter
        flex-direction: column
        gap: 20px
